*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    position: relative;
    background: #1d1d1d;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    z-index: -1;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #1d1d1d;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    z-index: 9;
}

.brand{
    text-transform: capitalize;
    font-weight: 500;
}

.links-container{
    display: flex;
    list-style: none;
}

.link{
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    position: relative;
}

.link:hover:not(.active){
    opacity: 0.2;
    color: whitesmoke;
    
}

.link.active::after,
.seperator::after{
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}
.home-content{
    padding: 5%;
    text-align: center;
}

.home-heading{
    font-size: 5rem;
    text-transform: capitalize;
    font-weight: 500;
}

.highlight{
    color: #1e3df1;
    text-transform: uppercase;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.project-caption{
    width: fit-content;
    display: block;
    margin: 10px 0 20px;
    margin-left: auto;
    text-transform: capitalize;
    position: relative;
    padding: 10px 20px;
    color: #f7f7f7;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    z-index: 2;
}
.seperator{
    width: 25%;
    margin: auto;
    margin-bottom: 25px;
    position: relative;
}
.seperator::after{
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}
.social {
    margin: 10px 60px;
    width: 10%;
    
    text-align: left;
    padding-top: 50px;
    position: relative;

    


}

.icon-linkedin {
    margin-left: 0;
    width: 60px;
    height: 50px;
    
    text-align: center;
    padding: 0px;
    color: #0077b5;
    border: 0;
    cursor: pointer;
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
    border-radius: 45px;
    display: inline-block;
    margin: 4px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  }

.icon-github {
    left: 125px;
    top: 50px;
    width: 60px;
    height: 50px;
    position: absolute;
    background-image: url("https://img.icons8.com/small/452/github.png");
    border: 0;
    background-position: center;
    background-size: 50px;
    cursor: pointer;
    font-size: 40px;
    line-height: 50px;
    border-radius: 45px;
    display: inline-block;
    margin: 4px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.icon-linkedin:hover{
    background-color: #0077b5;
    color: white;
}

.icon-github:hover {
    -webkit-filter: invert(100%) !important;
}

.linkdin {
    color: #0097b5;
}
#map { 
    position: relative; 
    top: 0; 
    border: 3px solid #02567c;
    border-radius: 1.5%;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    bottom: 0; 
    width: 90%;
    height: 600px;
    z-index: 10;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}
#menu {
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    background: #02567c;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    z-index: 12;
    width: 30%;
    align-items: center;
    }
#mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #02567c;
    }
.mapboxgl-popup-content{
    color: black;
    z-index: 9;
}